@import 'colors';

#window {
  border-radius: 20px;
  background: rgba(31, 31, 31, 0.97);
}


#input {
  color: #FFFFFF;
  border: 1px solid @unfocused_borders;
  border-radius: 20px; 

  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 20px;

  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.05);
}

#input:focus {
  border: 1px solid;
  border-color: @theme_selected_bg_color;

  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 24px;
}

#entry {
  padding: 12px 24px;
}

#entry image {
  padding-right: 12px;
}

#entry:focus {
  background: rgba(0, 0, 0, 0.1);
}