@use "sass:math";

@function proportionFactor($level) {
  $floored: math.floor($level);
  @return math.pow(2, $floored) * (1 + $level - $floored);
}

@function grid($level) {
  @return proportionFactor($level) * 4px;
}

@function fontSize($level) {
  @return proportionFactor($level) * 1rem;
}

.time {
  padding: grid(0);
  font-size: fontSize(0);
}

.taskbar {
  padding: grid(0) 0px;
}

window {
  background-color: rgba(0, 0, 0, 0.35);
}

.taskbar > .icon {
  padding: grid(0);
}

.icon {
  background-size:100% 100%;
}

.icon {
  &.sound {
    background-image: -gtk-icontheme("audio-volume-high");
  }
  &.files {
    background-image: -gtk-icontheme("folder");
  }
}

.time>*:not(:last-child) {
  margin-bottom: grid(-1);
}
