@use "sass:math";

@function proportionFactor($level) {
  $floored: math.floor($level);
  @return math.pow(2, $floored) * (1 + $level - $floored);
}

@function grid($level) {
  @return proportionFactor($level) * 4px;
}

@function fontSize($level) {
  @return proportionFactor($level) * 1rem;
}

$horizontal-default-button-padding: grid(1.5);
$vertical-default-button-padding:  grid(1);
@function buttonPadding($level) {
  $factor: proportionFactor($level);
  $vertical: $vertical-default-button-padding * $factor;
  @return $vertical $horizontal-default-button-padding;
}

* {
  all: unset;
}

.workspaceButton {
  padding: buttonPadding(0.5);
}

.workspaceEventBox {
  transition-property: background-color;
  transition-duration: 0.1s;
}
.clickable:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.clickable.active {
  background-color: rgba(255, 255, 255, 0.025);
}

.taskbar {
  padding: grid(1) 0px;
}

window {
  background-color: rgba(0, 0, 0, 0.35);
}

.taskbar > .icon {
  padding: grid(0);
}

.icon {
  background-size: 100% 100%;
}

.icon {
  &.sound {
    &.mute, &.zero {
      background-image: -gtk-icontheme("audio-volume-muted-symbolic");
    }
    &.low {
      background-image: -gtk-icontheme("audio-volume-low-symbolic");
    }
    &.medium {
      background-image: -gtk-icontheme("audio-volume-medium-symbolic");
    }
    &.high {
      background-image: -gtk-icontheme("audio-volume-high-symbolic");
    }
  }
  &.files {
    background-image: -gtk-icontheme("folder-symbolic");
  }
}

.time {
  font-size: fontSize(0);
  padding: buttonPadding(0);
}

.time > *:not(:last-child) {
  padding-bottom: grid(2);
}

.timeSubsection > *:not(:last-child) {
  padding-bottom: grid(0.5);
}
